body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0a192f;
    color: white;
}

/* NAVBAR */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 40px;
    background: rgba(10, 25, 47, 0.95);
    position: sticky;
    top: 0;
}

nav a {
    color: white;
    margin: 0 12px;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: #00ffcc;
}

/* HERO */
.hero {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hero h1 {
    font-size: 50px;
    color: #00ffcc;
    text-shadow: 0 0 20px #00ffcc;
}

.hero p {
    color: #ccc;
    font-size: 18px;
}

/* BUTTON */
.btn {
    margin-top: 15px;
    padding: 12px 25px;
    background: #00ffcc;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    background: #00ffaa;
}

/* CARDS */
.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card {
    background: #112240;
    padding: 20px;
    width: 250px;
    border-radius: 12px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 20px rgba(0,255,204,0.2);
}

.card h3 {
    color: #00ffcc;
}

/* SECTION */
section {
    padding: 60px 20px;
    text-align: center;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    color: #888;
    margin-top: 40px;
}
